#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  border: 1px solid gray;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: auto;
  padding: 20px;
  
}

input{
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: #fffcf2;
  border: 1px solid gray;
  color: black;
  
}

label{
  margin-top: 5px;
  
}

